Source: ros-foxy-rc-genicam-driver
Section: misc
Priority: optional
Maintainer: hirschmu <heiko.hirschmueller@roboception.de>
Build-Depends: debhelper (>= 9.0.0), ros-foxy-ament-cmake, ros-foxy-ament-cmake-cppcheck, ros-foxy-ament-cmake-xmllint, ros-foxy-ament-lint-auto, ros-foxy-diagnostic-updater, ros-foxy-image-transport, ros-foxy-rc-common-msgs, ros-foxy-rc-genicam-api, ros-foxy-rclcpp, ros-foxy-rclcpp-components, ros-foxy-sensor-msgs, ros-foxy-stereo-msgs, ros-foxy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-foxy-rc-genicam-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-foxy-diagnostic-updater, ros-foxy-image-transport, ros-foxy-rc-common-msgs, ros-foxy-rc-genicam-api, ros-foxy-rclcpp, ros-foxy-rclcpp-components, ros-foxy-sensor-msgs, ros-foxy-stereo-msgs, ros-foxy-ros-workspace
Description: Driver for rc_visard sensor from Roboception GmbH
