Source: ros-lyrical-rc-genicam-driver
Section: misc
Priority: optional
Maintainer: Felix Ruess <felix.ruess@roboception.de>
Build-Depends: debhelper (>= 9.0.0), ros-lyrical-ament-cmake, ros-lyrical-ament-cmake-cppcheck <!nocheck>, ros-lyrical-ament-cmake-xmllint <!nocheck>, ros-lyrical-ament-lint-auto <!nocheck>, ros-lyrical-diagnostic-updater, ros-lyrical-image-transport, ros-lyrical-rc-common-msgs, ros-lyrical-rc-genicam-api, ros-lyrical-rclcpp, ros-lyrical-rclcpp-components, ros-lyrical-sensor-msgs, ros-lyrical-stereo-msgs, ros-lyrical-ros-workspace
Homepage: https://index.ros.org/p/rc_genicam_driver/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-rc-genicam-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lyrical-diagnostic-updater, ros-lyrical-image-transport, ros-lyrical-rc-common-msgs, ros-lyrical-rc-genicam-api, ros-lyrical-rclcpp, ros-lyrical-rclcpp-components, ros-lyrical-sensor-msgs, ros-lyrical-stereo-msgs, ros-lyrical-ros-workspace
Description: Driver for rc_visard and rc_cube from Roboception GmbH
